.radio-toolbar input[type="radio"] {
    display: none;
  }
  
  .radio-toolbar label {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 12px;
    color: #672448;
    cursor: pointer;
    margin: 0;
  }
  
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #672448;
    color: white !important;
  }

.left-curved-border{
    border-radius: 8px 0px 0px 8px !important;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.right-curved-border{
    border-radius: 0px 8px 8px 0px !important;      
}

.viz-controls-container{
    display:flex;
    justify-content:space-between;
}

.btn-geo-opt{
    background: white;
    height: 34px;
    width: 150px;
    color: #672448;
    margin-right:10px;
    font-size: 12px;
    border:1px solid transparent;
    border-radius: 4px;
}

.btn-viz-download{
    background: white;
    height: 34px;
    width: 100px;
    color: #672448;
    font-size: 12px;
    border-color: white;
    border:1px solid transparent;
    border-radius: 4px;
    margin-left: 1rem; 
}

@media(min-width: 1440px){
.viz-controls-container{
    width: 74.4%;
    margin-left: 25.5%;
  }
}


